*{
    font-family: inherit;
    margin: 0;
    padding: 0;
}
#wrapper{
    background-color: #f2eee1;
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    min-height: 100vh;
}
nav ul{
    padding: 20px 40px;
    display: flex;
    justify-content: right;
}
nav ul li{
    margin: 10px;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 6px;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover{
    color: #EAB417;
}
nav li{
    list-style-type: none;
}
.main{
    border-radius: 10px;
    background-color: white;
    width: 80%;
    box-shadow: 0 0 10px 5px #D3D3D3;
    padding: 20px 50px;
}
h1{
    padding: 20px 20px 30px 0;
    font-size: 60px;
}
p{
    font-size: larger;
}
hr{
    margin-top: 20px;
}
.cards{
    margin: 30px 0;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}
.card-organizator{
    background-color: #FFF6DC;
    border: 5px solid #EAB417;
}
.card-festival{
    background-color: #ECFDFF;
    border: 5px solid rgb(69, 67, 67);
}
.card{
    margin: 10px;
    border-radius: 20px;
    width: 400px;
    height: auto;
}
.card img{
    margin: 0;
    padding: 5px;
    border-radius: 15px 15px 15px 15px;
    width: 97%;
    height: 240px;
}
.card img:hover{
    scale: 1.1;
    border-radius: 0;
}
.card h3{
    padding: 10px;
    font-size: 30px;
}
.card p{
    padding: 3px;
    padding-left: 12px;
    font-size: 20px;
}
.card a{
    display: inline-block;
    text-decoration: none;
    background-color: #EAB417;
    color: #FFF6DC;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    bottom: 5px;
    left: 200px;
    border-radius: 10px;
    margin: 15px 0;
}
.card a:hover{
    color: white;
}
.main1{
    z-index: 2;
    background-color: #fff;
    border-top: 3px solid #000;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.main1 img{
    z-index: 3;
}
.main1 p, img{
    padding: 10px 20px;
}
.main1 h4{
    font-size: 35px;
    padding-top: 10px;
}
#welcome-text {
    display: flex;
    justify-content: center;
}
.right-content{
    border: 2px solid #6a6863;
    border-left: none;
    border-right: none;
    margin-right: 10px;
}
.main2 h2{
    padding: 20px;
    font-size: 40px;
}
.main2{
    margin-top: 10px;
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
}
#pozadina{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}
.card-festival a{
    left: 29%;
    margin-top: 20px;
    background-color: #333;
    color: #ECFDFF;
}
.card-festival a:hover{
    border-radius: 0;
}