.main {
  text-align: center;
  padding: 50px;
}
.main img {
  width: 100%;
  height: 74vh;
}
#slikaUGaleriji {
  border: 2px solid black;
  width: 890px;
  height: 550px;
  opacity: 0;
  transition: opacity 1s ease;
}
p {
  font-size: larger;
  padding: 10px 50px;

  line-height: 40px;
}
table {
  font-size: larger;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  justify-content: center;
}
td,
th {
  padding: 20px;
}
#tabla {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}
button {
  padding: 10px;
  margin: 20px;
  height: 50px;
}
#opis {
  width: 60%;
  margin: 0 auto;
}
